@import "base/reset";
@import "base/specification";

@import "vendor/remodal";
@import "vendor/slick";

@import "layouts/header";
@import "layouts/contacts";
@import "layouts/footer";

@import "pages/home";