.page-vacancy{
	&.hot-stuff{
		.page-vacancy__category{
			color: $color_yellow_style;
		}

		.page-vacancy__btn{
			color: #333;
			background: $color_yellow_style;
			border-color: $color_yellow_style;

			&:hover{
				background: transparent;
				color: $color_yellow_style;
			}
		}
	}

	&__category{
		font-family: "Open Sans";
		color: $color_active;
		font-size: 24px;
	}

	&__title{
		margin: 8px 0 28px 0;
	}

	&__btn{
		margin-left: 0;
		color: #333;
		border: 1px solid $color_active;
		font-size: 20px;
		&:hover{
			background: transparent;
			color: $color_active;
		}
	}

	.page-wrapper__vacancy{
		.vacancy-item{
			align-items: flex-start;
			grid-template-columns: 1fr 2fr;
			grid-column-gap: 30px;

			&:not(:last-child){
				margin-bottom: 40px;
			}

			&__title{
				line-height: 1.3em;
				text-align: right;
			}

			&__description{
				line-height: 1.9607843137254901em;

				ul{
					margin: 0;
					li{
						margin: 0;
					}
				}
			}
			.page-vacancy__btn{
				grid-column: 2/3;
			}
		}
	}
}

.send-resume-modal{
	background: #e5e5e5;
	padding: 20px 25px;
	max-width: 630px;
	width: 100%;

	.send-resume-form{
		width: 100%;

		h2{
			margin-bottom: 25px;
		}
	}

	.form-group{
		text-align: left;
		margin-bottom: 14px;
		&__label{
			display: block;
			color: rgb(51,51,51);
			margin-bottom: 5px;
		}

		&__input{
			max-width: 300px;
			padding: 10px;
			font-size: 13px;
			width: 100%;
		}
		textarea{
			max-width: 471px;
			height: 238px;
		}

		&__btn{
			margin-left: 0;
		}
	}
}