.cover{
	padding: 40px 0;
	.page-title{
		color: #fff;
		line-height: 1.8em;
		font-family: "Open Sans";
		text-transform: uppercase;
	}


	&--small{
		.page-title{
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 2px;
		}
	}

	&--big{
		padding: 85px 0;
		.page-title{
			font-size: 60px;
			line-height: 1.3em;
			text-align: left;
		}

	}
}